*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

$color1: orangered;
$color2: white;
$color3: rgb(35, 34, 34);
$color4: black;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100&display=swap');
/* ----------------------------------------Header---------------------------------------- */
header nav{
    font-size: 1.09rem;
    span{
        color: $color2;
        font-style: italic;
        padding: 0 auto;
    }
    .navbar-brand{
        color: $color1 !important;
        font-size: 1.6rem;
        padding-left: 3rem;
    }
    div ul li{
        padding-left: 3rem;
    }
        div .navbar-nav{
            color: $color1;
            padding-left: 1rem;
            padding-right: 3rem;
        }
    
}

.navbar-brand:hover{
    transform: scale(1.1);
    transition-duration: 0.25s;
    text-shadow: 0 0 7px $color1;
}
.nav-link:hover{
    color: $color2 !important;
    text-shadow: 0 0 20px $color4;
    -webkit-transform: scale(1);
    transform: scale(1.1);
    transition-duration: 0.25s;
}
/* ----------------------------------------Main---------------------------------------- */

/* ---------------ALL PAGES---------------- */
.main{
    background-color: $color3;
    color: white;
    div h2{
        margin-top: 1rem;
        margin-bottom: 3rem ;
        padding-bottom: 1rem;
        text-align: center;
        color: white;
        text-shadow: 0 0 5px $color1;
        }
    div section{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.parrafo{
    text-align: center;
    padding-bottom: 2rem;
}

.portada{
    background-image: url(../Images/R.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}
.LOGO {
    background-image: url(../Images/logotipo.png);
    background-size: cover;
    height: 100px;
    width: 100px;
    filter: drop-shadow(10px 12px 5px $color3);
}
.container-fluid{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
section div:hover{
    filter: contrast(120%);
    -webkit-transform: scale(1);
    transform: scale(1.1);
    transition-duration: 0.25s;
}

/* ---------------PAGES HOME---------------- */
.textomenu{
    padding: 30px;
}
.img-fluid{
    border-radius: 10px;
}

/* --------MAPS------ */
$botones: (
    vermas1: orangered,
    vermas2: rgb(255, 255, 255),
);

@each $vermas, $color in $botones {
    .btn--#{$vermas} {
        font-size: 17px;
        color: $color;
        width: auto;
        height: 50px;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 20px;
        text-transform: uppercase;
        
        margin-right: 20px;
        margin-top: -20px;
    }
    .btn--#{$vermas}:hover {
        color: $color;
        text-shadow: 0 0 5px $color;
        transform: scale(1.1);
        transition-duration: 0.25s;
    }
}

.dedicamos{
    margin-bottom: 70px;
}
/* --------EXTEND------ */
.item{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.item1{
    @extend .item;
    grid-area: item1;
    background-image: url(../Images/producto5.jpg);
}
.item2{
    @extend .item;
    grid-area: item2;
    background-image: url(../Images/producto10.jpg);
}
.item3{
    @extend .item;
    grid-area: item3;
    background-image: url(../Images/producto9.jpg);
}
.item4{
    @extend .item;
    grid-area: item4;
    background-image: url(../Images/producto1.jpg);
}
.item5{
    @extend .item;
    grid-area: item5;
    background-image: url(../Images/producto3.jpg);
}
.nuestrotrabajo{
    height: auto;
    padding-bottom: 30px;
}

.video{
    border-radius: 10px;
}
/* ---------------PAGES COMPAÑIA---------------- */

/* --------MIXIN------ */
@mixin shadows ($text-shadow){
    text-shadow: $text-shadow !important;
}
.sub1{
    @include shadows(0 0 5px $color1);
}
.sub2{
    @include shadows(-0 0 5px $color3);
    margin-top: 20px !important;
}
.sub3{
    @include shadows(0 0 5px $color1)
}

/* ---------------PAGES MISION/VISION---------------- */
.Mision{
    background-image:linear-gradient(to bottom , $color1 -10%, $color3);
}
.mision{
    text-shadow: 0px 0px 30px $color3 !important;
}


/* ---------------PAGES PRODUCTOS---------------- */
.Stock{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px $color1;
    margin-bottom: 1rem !important;
    padding-bottom: -1rem !important;
}
.stock{
    color: $color2;
    text-align: center;
    margin-top: 0.5rem;
}

.slide{
    margin-left: 50px;
    margin-right: 50px;
}
.slide img{
    height: 550px;
    border-radius: 15px;
}
.pieimagen{
    height: 10rem;
    text-align: center;
}

/* ---------------PAGES PEDIDOS---------------- */
.formulario{
    height: auto;
}

/* ---------------Media Queries---------------- */

/* // Extra small devices (portrait phones,less than <576px) */
@media only screen and (min-width: 0px){ 
    .dedicamos{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.7fr 1fr 1.3fr 1fr; 
        grid-template-areas: 
        "item1 item1"
        "item2 item3"
        "item4 item4"
        "item5 item5"; 
        gap: 13px;
        padding: 5px;
        width: auto;
        height: 1500px; 
    }
    .item1{
        grid-area: item1;
        background-position-y: -255px;
    }
    .item2{
        grid-area: item2;
        background-position-x: -170px;
    }
    .item3{
        grid-area: item3;
        background-position-x: -200px;
    }
    .item4{
        grid-area: item4;
        background-position-x: -140px ;
    }
    .item5{
        grid-area: item5;
        background-position-x: 0px;
        background-position-y: -400px;
    }
    .slide{
        margin-left: 14px !important;
        margin-right: 14px !important;
    }
    .video{
        width: 90%;
        height: 200px;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px){ 
    .dedicamos{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.7fr 1fr 1.3fr 1fr; 
        grid-template-areas: 
        "item1 item1"
        "item2 item3"
        "item4 item4"
        "item5 item5"; 
        gap: 25px;
        padding: 20px;
        width: auto;
        height: 1500px; 
    }
    .item1{
        grid-area: item1;
        background-position-y: -120px;
    }
    .item2{
        grid-area: item2;
        background-position-x: -160px;
    }
    .item3{
        grid-area: item3;
        background-position-x: -110px;
    }
    .item4{
        grid-area: item4;
    }
    .item5{
        grid-area: item5;
        background-position-x: 0px;
        background-position-y: -300px;
    }
    .slide{
        margin-left: 0px;
        margin-right: 0px;
    }
    .video{
        width: 90%;
        height: 340px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .dedicamos{
        display: grid; 
        grid-template-columns: 1fr 1.3fr 0.5fr 1.2fr; 
        grid-template-rows: 0.5fr 0.5fr 1fr; 
        grid-template-areas: 
        "item1 item1 item2 item2"
        "item1 item1 item3 item3"
        "item4 item4 item4 item5";
        gap: 25px;
        padding: 20px;
        width: auto;
        height: 1000px;
        }
        .item1{
            grid-area: item1;
            background-position-x: -170px;
            background-position-y: 0;
        }
        .item2{
            grid-area: item2;
            background-position-x: 0;
        }
        .item3{
            grid-area: item3;
            background-position-x: 0;
        }
        .item4{
            grid-area: item4;
            background-position-x: 0;
        }
        .item5{
            grid-area: item5;
            background-position-x: 0;
            background-position-y: 0;
        }
        .video{
            width: 90%;
            height: 400px;
        }
}

/* // Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px){
    .dedicamos{
        display: grid;
        align-content: center;
        grid-template-areas: 
            "item1 item2 item4 item5"
            "item1 item3 item4 item5";
        grid-template-columns:  1.2fr 0.8fr 1.3fr 0.7fr ;
        grid-template-rows: 1fr 1fr ;
        gap: 25px;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
        height: 450px;
    }
    .item1{
        grid-area: item1;
        background-position-x: -170px;
        background-position-y: 0;
    }
    .item2{
        grid-area: item2;
        background-position-x:-10px;
    }
    .item3{
        grid-area: item3;
        background-position-x:-40px;
    }
    .item4{
        grid-area: item4;
        background-position-x: -80px;
    }
    .item5{
        grid-area: item5;
        background-position-x: -40px;
        background-position-y: 0;
    }
    .video{
        width: 60%;
        height: 510px;
    }
}

/* ----------------------------------------Footer---------------------------------------- */
.footer{
    background-image: linear-gradient(to top , $color1, $color3 90%);
    color: white;
    text-align: center !important;
    padding-top: 2rem;
    padding-bottom: 1.3rem;
}
footer div a{
    margin-left: 17px;
    margin-right: 17px;
    color: white;
}
.icono{
    font-size: 2.4rem;
    padding: 0.3rem;
}
.iconos:hover{
    color: $color3;
    -webkit-transform: scale(1);
    transform: scale(1.35);
    transition-duration: 0.25s;
    text-shadow: 0 0 5px rgb(35, 34, 34);
}