* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----------------------------------------Header---------------------------------------- */
header nav {
  font-size: 1.09rem;
}

header nav span {
  color: white;
  font-style: italic;
  padding: 0 auto;
}

header nav .navbar-brand {
  color: orangered !important;
  font-size: 1.6rem;
  padding-left: 3rem;
}

header nav div ul li {
  padding-left: 3rem;
}

header nav div .navbar-nav {
  color: orangered;
  padding-left: 1rem;
  padding-right: 3rem;
}

.navbar-brand:hover {
  /* -webkit-transform: scale(1); */
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  text-shadow: 0 0 7px orangered;
}

.nav-link:hover {
  color: white !important;
  /* color: rgb(35, 34, 34) !important; */
  /* filter: opacity(80%); */
  text-shadow: 0 0 20px black;
  -webkit-transform: scale(1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

/* ----------------------------------------Main---------------------------------------- */
.main {
  background-color: #232222;
  color: white;
}

.main div h2 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px orangered;
}

.main div section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.parrafo {
  text-align: center;
  padding-bottom: 2rem;
}

.Mision {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-10%, orangered), to(#232222));
  background-image: linear-gradient(to bottom, orangered -10%, #232222);
}

.mision {
  text-shadow: 0 0 20px #232222;
}

.Stock {
  color: white;
  text-shadow: 0 0 20px orangered;
  margin-bottom: 1rem;
}

.stock {
  color: white;
  text-align: center;
  margin-top: 4rem;
}

.pieimagen {
  height: 10rem;
  text-align: center;
}

.portada {
  background-image: url(../Images/R.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  color: orangered;
  text-shadow: 0 0 5px white;
  border-radius: 0;
  margin-bottom: 0px;
}

.LOGO {
  background-image: url(../Images/logotipo.png);
  background-size: cover;
  height: 130px;
  width: 130px;
  -webkit-filter: drop-shadow(20px 12px 5px #232222);
          filter: drop-shadow(20px 12px 5px #232222);
}

.img-fluid {
  border-radius: 10px;
}

.container-fluid {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section div:hover {
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  -webkit-transform: scale(1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.textomenu {
  padding: 30px;
}

.nosotros {
  margin-bottom: 90px;
}

/* .quienesomos{
    padding: 5px;
} */
.quehacemos {
  margin-bottom: 85px;
}

.parrafo-intermedio {
  padding-bottom: 20px;
}

.item1 {
  grid-area: item1;
  background-image: url(../Images/producto5.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.item2 {
  grid-area: item2;
  background-image: url(../Images/producto10.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.item3 {
  grid-area: item3;
  background-image: url(../Images/producto9.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.item4 {
  grid-area: item4;
  background-image: url(../Images/producto1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.item5 {
  grid-area: item5;
  background-image: url(../Images/producto3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

/* // Extra small devices (portrait phones,less than <576px) */
@media only screen and (min-width: 0px) {
  .quehacemos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.7fr 1fr 1.3fr 1fr;
        grid-template-rows: 0.7fr 1fr 1.3fr 1fr;
        grid-template-areas: "item1 item1" "item2 item3" "item4 item4" "item5 item5";
    gap: 25px;
    padding: 20px;
    width: auto;
    height: 1500px;
  }
  .item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item1;
    background-position-y: -242.5px;
  }
  .item2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: item2;
    background-position-x: -170px;
  }
  .item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item3;
    background-position-x: -200px;
  }
  .item4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item4;
    background-position-x: -140px;
  }
  .item5 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item5;
    background-position-x: 0px;
    background-position-y: -400px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .quehacemos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.7fr 1fr 1.3fr 1fr;
        grid-template-rows: 0.7fr 1fr 1.3fr 1fr;
        grid-template-areas: "item1 item1" "item2 item3" "item4 item4" "item5 item5";
    gap: 25px;
    padding: 20px;
    width: auto;
    height: 1500px;
  }
  .item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item1;
    background-position-y: -120px;
  }
  .item2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: item2;
    background-position-x: -160px;
  }
  .item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item3;
    background-position-x: -110px;
  }
  .item4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item4;
  }
  .item5 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item5;
    background-position-x: 0px;
    background-position-y: -300px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .quehacemos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.3fr 0.5fr 1.2fr;
        grid-template-columns: 1fr 1.3fr 0.5fr 1.2fr;
    -ms-grid-rows: 0.5fr 0.5fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr;
        grid-template-areas: "item1 item1 item2 item2" "item1 item1 item3 item3" "item4 item4 item4 item5";
    gap: 25px;
    padding: 20px;
    width: auto;
    height: 1000px;
  }
  .item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item1;
    background-position-x: -170px;
    background-position-y: 0;
  }
  .item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: item2;
    background-position-x: 0;
  }
  .item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: item3;
    background-position-x: 0;
  }
  .item4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: item4;
    background-position-x: 0;
  }
  .item5 {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: item5;
    background-position-x: 0;
    background-position-y: 0;
  }
}

/* // Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .quehacemos {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
        grid-template-areas: "item1 item2 item4 item5" "item1 item3 item4 item5";
    -ms-grid-columns: 1.2fr 0.8fr 1.3fr 0.7fr;
        grid-template-columns: 1.2fr 0.8fr 1.3fr 0.7fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 25px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    height: 450px;
  }
  .item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: item1;
    background-position-x: -170px;
    background-position-y: 0;
  }
  .item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: item2;
    background-position-x: -10px;
  }
  .item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item3;
    background-position-x: -40px;
  }
  .item4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: item4;
    background-position-x: -80px;
  }
  .item5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: item5;
    background-position-x: -40px;
    background-position-y: 0;
  }
}

.comotrabajamos {
  height: 31.5rem;
  padding-bottom: 40px;
}

.video {
  border-radius: 10px;
}

.slide {
  margin-left: 50px;
  margin-right: 50px;
}

.slide img {
  height: 550px;
  border-radius: 15px;
}

.formulario {
  height: auto;
}

/* ----------------------------------------Footer---------------------------------------- */
.footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(orangered), color-stop(90%, #232222));
  background-image: linear-gradient(to top, orangered, #232222 90%);
  color: white;
  text-align: center !important;
  padding-top: 2rem;
  padding-bottom: 1.3rem;
}

footer div a {
  margin-left: 17px;
  margin-right: 17px;
  color: white;
}

.icono {
  font-size: 2.4rem;
  padding: 0.3rem;
}

.iconos:hover {
  color: #232222;
  -webkit-transform: scale(1);
  transform: scale(1.35);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  text-shadow: 0 0 5px #232222;
}
/*# sourceMappingURL=estilos.css.map */